<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="../../stylesheet/styles.css">
</head>

<body>
  <!-- Header -->
  <header>
    <h1>{ Blog em processo de desenvolvimento }</h1>
  </header>

  <!-- Navbar -->
  <nav>
    <ul>
      <li><a>Home</a></li>
      <li><a>Sobre</a></li>
    </ul>
  </nav>

  <!-- Article -->
  <div class="article">
    <div id="article-date">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <h1 id="article-title"><%= article.title %></h1>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>
    <div id="article-content">
      <%- article.sanitizedHTML %>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/scripts/particles.js" type="text/javascript"></script>
  <script src="/scripts/app.js" type="text/javascript"></script>
</body>

</html>